# ==========================
# ⚙️ Entorno virtual
# ==========================
venv/
.env

# ==========================
# 🐍 Archivos de Python compilados
# ==========================
__pycache__/
*.pyc

# ==========================
# 💾 Archivos del sistema
# ==========================
.DS_Store

# ==========================
# 🧪 Logs y bases de datos locales
# ==========================
*.log
*.sqlite3

# ==========================
# 🛠️ VS Code
# ==========================
.vscode/

# ==========================
# 🔐 Claves y tokens privados
# ==========================
alivia.pem
*.pem

# ==========================
# 🚀 FastAPI / Uvicorn
# ==========================
*.pid
